@import"../components/variables";
@import"../components/mixins";

.fondoMain{
    .container-fluid{
        section{
            .card{
                @include tarjeta;
                width: 18rem;
                .card-body{
                    .card-title{
                        font-family: 'Roboto', sans-serif;
                        font-size: 20px;
                        text-transform: uppercase;
                        color: $color-terciario;
                        text-align: center;
                    }
                    p{
                        span{
                            font-weight: bold;
                        }
                    }
                    a{
                        background-color: $color-terciario;
                        border: 1px solid $color-terciario;
                        font-family: 'Roboto', sans-serif;
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
